In [1]:
#Feature Selection Technique

#dataset automobile_data.csv
'''There are various types of feature selection technique : -
1. Filter Method 
A. Correlation coefficient method 
B . ANOVA Test
C. chi-square Test
2. Wrapping Method
A. Forward Wrapping method   B. Backward Wrapping method
3. Embedding method
A. Regularisation   method
1. Lasso and 2. Ridge
B . DecisionTreeclassifier
4. PCA : principal component analysis : This is feature extraction technique '''

'There are various types of feature selection technique : -\n1. Filter Method \nA. Correlation coefficient method \nB . ANOVA Test\nC. chi-square Test\n2. Wrapping Method\nA. Forward Wrapping method   B. Backward Wrapping method\n3. Embedding method\nA. Regularisation   method\n1. Lasso and 2. Ridge\nB . DecisionTreeclassifier\n4. PCA : principal component analysis : This is feature extraction technique '

In [2]:
#ANOVA Test : Analysis of variance

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
#To load dataset mobile.csv
df=pd.read_csv("automobile_data.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [4]:
#check null values
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [6]:
df["normalized-losses"].unique()

array(['?', '164', '158', '192', '188', '121', '98', '81', '118', '148',
       '110', '145', '137', '101', '78', '106', '85', '107', '104', '113',
       '150', '129', '115', '93', '142', '161', '153', '125', '128',
       '122', '103', '168', '108', '194', '231', '119', '154', '74',
       '186', '83', '102', '89', '87', '77', '91', '134', '65', '197',
       '90', '94', '256', '95'], dtype=object)

In [7]:
#We replace the special char '?' to np.nan (means null values) in normalized-losses column
#permanent
df["normalized-losses"].replace("?",np.nan,inplace=True)
#Then again check null values if df
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [8]:
df.shape

(205, 15)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [10]:
#check % of null values of normalized-losses column wise
df.isnull().sum()/df.shape[0]*100

symboling             0.0
normalized-losses    20.0
make                  0.0
fuel-type             0.0
body-style            0.0
drive-wheels          0.0
engine-location       0.0
width                 0.0
height                0.0
engine-type           0.0
engine-size           0.0
horsepower            0.0
city-mpg              0.0
highway-mpg           0.0
price                 0.0
dtype: float64

In [11]:
#we change the datatype of df["normalized-losses"] column from object to float
df["normalized-losses"]=df["normalized-losses"].astype("float")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(3), int64(5), object(7)
memory usage: 24.1+ KB

In [12]:
#We fill null values in normalized-losses  column with mean of itsel column normalized-losses  permanently
m=df["normalized-losses"].mean()
df["normalized-losses"].fillna(m,inplace=True)
#check again null values
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(3), int64(5), object(7)
memory usage: 24.1+ KB

In [14]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [15]:
df["horsepower"].unique()

array(['111', '154', '102', '115', '110', '140', '160', '101', '121',
       '182', '48', '70', '68', '88', '145', '58', '76', '60', '86',
       '100', '78', '90', '176', '262', '135', '84', '64', '120', '72',
       '123', '155', '184', '175', '116', '69', '55', '97', '152', '200',
       '95', '142', '143', '207', '288', '?', '73', '82', '94', '62',
       '56', '112', '92', '161', '156', '52', '85', '114', '162', '134',
       '106'], dtype=object)

In [16]:
#Replace ? with null value in horsepower column  permanently change
df["horsepower"].replace("?",np.nan,inplace=True)
#To change the datatype of horsepower from object to float
df["horsepower"]=df["horsepower"].astype("float")
#check % of null values of normalized-losses column wise
print("% of Null values og horse power : ",df["horsepower"].isnull().sum()/df.shape[0]*100)
#To fill horsepower from mean of horsepower

df["horsepower"].fillna(df["horsepower"].mean(),inplace=True)
df.info()

% of Null values og horse power :  0.975609756097561
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    float64
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(4), int64(5), object(6)
memory usage: 24.1+ KB

In [17]:
#separate numeric type column and object type(categorical type) column from df and hold new dataframe
#df_num : to hold nyumeric type column and df_cat : to hold categorical type dATA
df_num=df.select_dtypes(["int64","float64"])
df_cat=df.select_dtypes(object)
#to display all object type columns
df_cat.columns

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [18]:
#Change object type data into numerical type with the help of LabelEncoder
from sklearn.preprocessing import LabelEncoder

for col in df_cat:
    #create the object of LabelEncoder class
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

#show first 5 records from df_cat
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [19]:
#concatenate means merge both df_num and df_cat dataset and hold new dataset 
#df_new
df_new=pd.concat([df_num,df_cat],axis=1)
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [20]:
#Separate Input variable and output variable from dataset df_new
X=df_new.drop("price",axis=1) #input features
Y=df_new["price"] #output means target variable

In [21]:
#Train_Test_split (70%-30%)
from sklearn.model_selection import train_test_split

#Train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

In [22]:
#BaseLine Model with multiple linear regression
#call linear regression 
from sklearn.linear_model import LinearRegression

In [23]:
#Create object of LinearRegression class
lr=LinearRegression()

In [24]:
#train the model with 70% data 
#Training
lr.fit(X_train,Y_train)

LinearRegression()

In [25]:
#Test the model with 30% test
Y_pred=lr.predict(X_test)

In [26]:
from sklearn.metrics import mean_squared_error,r2_score
print("MSE : ",mean_squared_error(Y_test,Y_pred))
print("R2-score : ",r2_score(Y_test,Y_pred))

MSE :  12259459.6887845
R2-score :  0.7965566780397384

In [27]:
#To check score of model (testing the model with 30% input and output)
lr.score(X_test,Y_test) #similar to r2_score

0.7965566780397384

In [28]:
#It is not bad but try above 90%

In [29]:
#Apply feature selection technique 
#Use ANOVA Test means analysis of variance 
from sklearn.feature_selection import f_regression #f_regression inbuilt class for anova test
#We use f_regression class as a parameter

from sklearn.feature_selection import SelectKBest

In [30]:
#Create object of SelectKBest class and pass f_regression class as a parameter for ANOVA test
anova=SelectKBest(score_func=f_regression,k=6) #here k is a parameter which select max imp input
#features
#anova is a user defined object

In [31]:
X_train_anova=anova.fit_transform(X_train,Y_train) 
#formula of f-score/f-test/f-statistics =variance between group/variance within group

In [32]:
X_test_anova=anova.transform(X_test) #30% testing input

In [33]:
#to show inpo features from dataframe  : use inbuilt method get_support() of SelectKBest class
#return answer in boolean means TRUE/FALSE
anova.get_support()

array([False, False,  True, False,  True,  True,  True,  True, False,
       False, False,  True, False, False])

In [34]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [35]:
#we again train  the mmodel with MLR
#Create object of LinearRegression class
lr1=LinearRegression()

In [36]:
#train the model with 70% data  with imp features
#Training
lr1.fit(X_train_anova,Y_train)

LinearRegression()

In [37]:
#To check score of model (testing the model with 30% input and output)
lr1.score(X_test_anova,Y_test) #similar to r2_score

0.7982503502453706

In [38]:
#X=df[["width","engine-size"]]

In [39]:
#Apply CHI-Square test : -   chi-2 test : - It is a feature selection technique 
#It is the third type of Filter method

'''Note : - Chi-2 test does not work from -ve value means chi-2 test will not apply on 
-ve value .'''
#we have dataset
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [40]:
for col in X:
    print("Column Name : ",col)
    print(df_new[col].unique())

Column Name :  symboling
[ 3  1  2  0 -1 -2]
Column Name :  normalized-losses
[122. 164. 158. 192. 188. 121.  98.  81. 118. 148. 110. 145. 137. 101.
  78. 106.  85. 107. 104. 113. 150. 129. 115.  93. 142. 161. 153. 125.
 128. 103. 168. 108. 194. 231. 119. 154.  74. 186.  83. 102.  89.  87.
  77.  91. 134.  65. 197.  90.  94. 256.  95.]
Column Name :  width
[64.1 65.5 66.2 66.4 66.3 71.4 67.9 64.8 66.9 70.9 60.3 63.6 63.8 64.6
 63.9 64.  65.2 62.5 66.  61.8 69.6 70.6 64.2 65.7 66.5 66.1 70.3 71.7
 70.5 72.  68.  64.4 65.4 68.4 68.3 65.  72.3 66.6 63.4 65.6 67.7 67.2
 68.9 68.8]
Column Name :  height
[48.8 52.4 54.3 53.1 55.7 55.9 52.  53.7 56.3 53.2 50.8 50.6 59.8 50.2
 52.6 54.5 58.3 53.3 54.1 51.  53.5 51.4 52.8 47.8 49.6 55.5 54.4 56.5
 58.7 54.9 56.7 55.4 54.8 49.4 51.6 54.7 55.1 56.1 49.7 56.  50.5 55.2
 52.5 53.  59.1 53.9 55.6 56.2 57.5]
Column Name :  engine-size
[130 152 109 136 131 108 164 209  61  90  98 122 156  92  79 110 111 119
 258 326  91  70  80 140 134 183 234 308 304  97 103 120 181 151 194 203
 132 121 146 171 161 141 173 145]
Column Name :  horsepower
[111.         154.         102.         115.         110.
 140.         160.         101.         121.         182.
  48.          70.          68.          88.         145.
  58.          76.          60.          86.         100.
  78.          90.         176.         262.         135.
  84.          64.         120.          72.         123.
 155.         184.         175.         116.          69.
  55.          97.         152.         200.          95.
 142.         143.         207.         288.         104.25615764
  73.          82.          94.          62.          56.
 112.          92.         161.         156.          52.
  85.         114.         162.         134.         106.        ]
Column Name :  city-mpg
[21 19 24 18 17 16 23 20 15 47 38 37 31 49 30 27 25 13 26 36 22 14 45 28
 32 35 34 29 33]
Column Name :  highway-mpg
[27 26 30 22 25 20 29 28 53 43 41 38 24 54 42 34 33 31 19 17 23 32 39 18
 16 37 50 36 47 46]
Column Name :  make
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21]
Column Name :  fuel-type
[1 0]
Column Name :  body-style
[0 2 3 4 1]
Column Name :  drive-wheels
[2 1 0]
Column Name :  engine-location
[0 1]
Column Name :  engine-type
[0 5 3 2 6 4 1]

In [41]:
'''Here we have some -ve values in this dataset ,means this code not work means this method(chi-2)
not work on this dataset'''

'Here we have some -ve values in this dataset ,means this code not work means this method(chi-2)\nnot work on this dataset'

In [42]:
#If apply CHI-2 Test on dataset
from sklearn.feature_selection import chi2
#Create object of SelectKBest class and pass chi-2 class as a parameter for CHI-2 test
chi=SelectKBest(score_func=chi2,k=10) #here k is a parameter which select max imp input
#features
#chi is a user defined object

In [43]:
#X_train_chi=chi.fit_transform(X_train,Y_train)

In [44]:
'''2. Wrapping Method
A. Forward Wrapping method   B. Backward Wrapping method '''

#Feature selection technique : 
'''1. Filter method
   2. Wrapper method 
   Basic difference between filter method and wrapper method : -
   1. Filter method : first we select best input features from dataset then we create the model
   2. wrapper method : just opposite work of filter method
   In wrapper method , first we create the model then we select important input features means 
   select right input features 
   There are 2 types of wrapper method : -
   1. forward selection wrapper method
   2. backward selection wrapper method'''

'1. Filter method\n   2. Wrapper method \n   Basic difference between filter method and wrapper method : -\n   1. Filter method : first we select best input features from dataset then we create the model\n   2. wrapper method : just opposite work of filter method\n   In wrapper method , first we create the model then we select important input features means \n   select right input features \n   There are 2 types of wrapper method : -\n   1. forward selection wrapper method\n   2. backward selection wrapper method'

In [45]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [46]:
#1. forward selection wrapper method : -is a very simple technique
#we create the model first and then we add the input features 

#we create a empty list for columns 
columns=[]
for col in X:
    columns.append(col)
    #print(columns)
    X_new=df_new[columns]
    #Train_test_split
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y,test_size=0.3,random_state=1)
    #Create the object of Linear Regression
    lr=LinearRegression()
    #train the model with 70% data
    lr.fit(X_train,Y_train)
    #find the score
    score=lr.score(X_test,Y_test)
    print("Column Name : ",col ,"score : ",score)

Column Name :  symboling score :  -0.0017837050450488778
Column Name :  normalized-losses score :  0.041612508167990114
Column Name :  width score :  0.6171737569085429
Column Name :  height score :  0.6183283499764449
Column Name :  engine-size score :  0.7589560567217418
Column Name :  horsepower score :  0.7741546338326667
Column Name :  city-mpg score :  0.776896144188328
Column Name :  highway-mpg score :  0.7777776382689499
Column Name :  make score :  0.7924572281432336
Column Name :  fuel-type score :  0.794854541611225
Column Name :  body-style score :  0.7972954924014397
Column Name :  drive-wheels score :  0.8135463420259217
Column Name :  engine-location score :  0.7934456703438276
Column Name :  engine-type score :  0.7965566780397384

In [47]:
#Imp input feature : - width , engine-size ,make ,drive-wheels with target price

#IMp Input features  select with the help of forward  selection :
#Width ,engine-size,make,drive-wheels
#and score 0.81

In [48]:
#Backward selection : -  Backward selection is exactly opposite of forward
#selection We create a model with all the input features and every iteration 
#we keep removing the input features

In [49]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [50]:
X.shape

(205, 14)

In [51]:
#Apply Backward Selection

columns=[]#declare a empty list
X_new=X
n_col=X_new.shape[1] #no. of columns
print("No. of columns : ",n_col)
for i in range(n_col,0,-1):  #start=14 stop=0 step=-1
    columns.append(X_new)#to add al lcolumns in list columns
    #print(columns)
    X_train,X_test,y_train,y_test = train_test_split(X_new,Y,test_size=0.3,random_state=1)
    #create a object of LinearRegression
    lr1=LinearRegression()
    #we train the model
    lr1.fit(X_train,y_train)
    #find the score
    score1=lr1.score(X_test,y_test) #r2_score()
    print("Column : ",i, " Score : ",score1)
    X_new=X_new.iloc[:,:-1]  #iloc index location iloc[startrow:tillend row ,startcol:-1]
    print("After Remove Column : ", i)

No. of columns :  14
Column :  14  Score :  0.7965566780397384
After Remove Column :  14
Column :  13  Score :  0.7934456703438276
After Remove Column :  13
Column :  12  Score :  0.8135463420259217
After Remove Column :  12
Column :  11  Score :  0.7972954924014397
After Remove Column :  11
Column :  10  Score :  0.794854541611225
After Remove Column :  10
Column :  9  Score :  0.7924572281432336
After Remove Column :  9
Column :  8  Score :  0.7777776382689499
After Remove Column :  8
Column :  7  Score :  0.776896144188328
After Remove Column :  7
Column :  6  Score :  0.7741546338326667
After Remove Column :  6
Column :  5  Score :  0.7589560567217418
After Remove Column :  5
Column :  4  Score :  0.6183283499764449
After Remove Column :  4
Column :  3  Score :  0.6171737569085429
After Remove Column :  3
Column :  2  Score :  0.041612508167990114
After Remove Column :  2
Column :  1  Score :  -0.0017837050450488778
After Remove Column :  1

In [52]:
#Separate Input variable and output variable from dataset df_new
X=df_new.drop("price",axis=1) #input features
Y=df_new["price"] #output means target variable

In [53]:
#Train_Test_split (70%-30%)
from sklearn.model_selection import train_test_split

#Train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state=1)

In [54]:
#PCA apply :-
#Feature extraction technique (PCA) : Principal Component analysis
#1. Standardization
#inbuilt class StandardScaler  use formula Z-score = (Xi-mean of(X))/std(X)
from sklearn.preprocessing import StandardScaler
#fit_transform on training data X_train and transform on testing_data means X_test :
#create object of StandardScaler class
ss=StandardScaler()
X_train=ss.fit_transform(X_train)
X_test=ss.transform(X_test)
print("After scaling training data : ")
print(X_train)
print("After scaling testing data : ")
print(X_test)

After scaling training data :
[[ 1.69785729  0.02383412  0.12469565 ...  1.17275014 -0.14638501
   0.00639503]
 [-1.42488988  0.02383412  0.21756793 ...  1.17275014 -0.14638501
  -2.73707423]
 [-0.64420309 -1.38767531 -1.12908013 ... -2.35784501 -0.14638501
   0.00639503]
 ...
 [ 1.69785729  0.7123753   2.07501352 ...  1.17275014 -0.14638501
   1.83537454]
 [ 0.91717049 -1.31882119 -1.03620785 ... -2.35784501 -0.14638501
   0.92088479]
 [-0.64420309 -0.52699883 -0.38610189 ... -0.59254744 -0.14638501
   0.00639503]]
After scaling testing data :
[[ 0.91717049  1.36648942 -0.75759101 -1.1505694  -0.88726449 -0.93659652
   0.96827365  1.1501568  -0.21761468  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837  -0.63028001 -1.03620785 -0.08423516 -0.76570977 -0.91258233
   0.96827365  1.00022752 -0.05803058  0.31622777  1.54113933 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837  -1.18111295 -1.12908013  0.31070345 -0.88726449 -1.08068167
   0.96827365  1.1501568   1.05905813  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837   0.02383412 -1.12908013 -0.67664307 -0.93588638 -0.88856813
   2.06346227  1.89980322 -1.01553519  0.31622777  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309 -1.24996707 -1.63987766  0.15272801 -0.44966748 -0.50434106
   0.34245159  0.40051039 -1.17511929  0.31622777  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [-1.42488988 -0.9745506   1.98214124  1.10058066  1.32503151  0.38418406
  -0.439826   -0.79892387 -0.53678289 -3.16227766  0.40514488  1.17275014
  -0.14638501  0.00639503]
 [ 0.91717049  1.60747884 -1.03620785 -0.16322288 -0.76570977 -0.91258233
   0.96827365  1.00022752 -0.05803058  0.31622777 -1.86684404 -0.59254744
  -0.14638501  0.00639503]
 [ 0.91717049 -0.01059294 -2.66147274 -0.20271674 -1.64090379 -1.41688037
   3.47156192  3.39909604 -1.4942875   0.31622777 -0.73084958 -0.59254744
  -0.14638501 -0.90809472]
 [ 0.1364837  -1.62866472 -1.12908013  0.31070345 -0.88726449 -1.08068167
   0.96827365  1.1501568   1.05905813  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309 -0.2171553   0.21756793  0.70564206 -0.15793614 -0.55236944
   0.18599607  0.25058111 -0.69636699  0.31622777  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [ 0.91717049  1.4697706   0.17113179  0.23171573  0.18241709  0.19207052
  -1.06564807 -1.24871172 -1.8134557   0.31622777  0.40514488 -2.35784501
  -0.14638501  0.00639503]
 [ 0.91717049  0.43695883 -0.20035733 -0.28170446  0.42552654  0.21608471
  -0.12691496 -0.04927746  1.05905813  0.31622777 -3.00283849  1.17275014
  -0.14638501  0.00639503]
 [-1.42488988 -1.62866472  0.54262091  1.49551927  0.30397182  0.16805633
  -0.12691496 -0.34913602  1.37822633  0.31622777  1.54113933  1.17275014
  -0.14638501  0.00639503]
 [-0.64420309 -0.52699883 -0.38610189 -0.16322288 -0.44966748 -0.50434106
   0.34245159  0.40051039 -1.17511929  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 1.69785729  0.81565648  0.12469565 -1.38753256  0.66863599  0.91249629
  -0.90919255 -0.94885315 -1.33470339  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 0.91717049  0.43695883 -0.20035733 -0.67664307  0.42552654  0.21608471
  -0.12691496 -0.04927746  1.05905813  0.31622777 -1.86684404  1.17275014
  -0.14638501  0.00639503]
 [ 1.69785729  4.63706004 -0.94333557 -0.91360623 -0.47397842 -0.40828429
  -0.12691496 -0.19920674  1.21864223  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837  -0.69913412 -0.94333557 -0.4396799  -0.88726449 -0.74448298
   0.81181814  0.55043967 -1.17511929  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 1.69785729  0.98779177  0.21756793  0.94260522 -0.18224708  1.27270918
  -0.90919255 -0.64899459  0.73988993  0.31622777 -0.73084958 -0.59254744
  -0.14638501 -2.73707423]
 [-0.64420309 -0.66470706 -0.29322961  0.23171573 -0.49828937  0.09601375
  -0.12691496 -0.19920674  0.89947403  0.31622777  0.40514488 -2.35784501
  -0.14638501  0.92088479]
 [-1.42488988 -1.93850825  0.21756793  0.46867889 -0.15793614 -0.3602559
   0.65536262  0.55043967  1.05905813  0.31622777  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [ 0.91717049  0.54024    -0.98977171 -1.1505694  -0.88726449 -0.74448298
   0.96827365  1.1501568  -1.17511929  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309  2.43372826 -0.57184645  0.23171573 -0.49828937 -0.14412817
  -0.28337048 -0.19920674 -1.6538716   0.31622777  0.40514488  1.17275014
  -0.14638501  0.00639503]
 [ 0.1364837  -0.07944706 -1.03620785 -1.1505694  -0.74139882 -0.12011398
  -0.12691496 -0.04927746  0.26113762  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 0.91717049  0.43695883 -0.20035733 -0.67664307  0.42552654  0.21608471
  -0.12691496 -0.04927746  1.05905813  0.31622777 -0.73084958  1.17275014
  -0.14638501  0.00639503]
 [ 0.1364837  -0.69913412 -0.94333557 -0.4396799  -0.88726449 -0.74448298
   0.81181814  0.55043967 -1.17511929  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 1.69785729  0.02383412  0.12469565 -1.38753256  0.66863599  0.91249629
  -0.90919255 -0.94885315 -0.21761468  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 0.91717049 -0.94012354 -0.24679347  0.78462978 -0.76570977 -1.3208236
   1.90700675  2.34959106  1.21864223 -3.16227766  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837   1.12550001 -1.03620785 -1.22955712 -0.93588638 -0.93659652
   0.96827365  1.1501568   0.26113762  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309 -0.38929059 -0.94333557  0.31070345 -0.88726449 -0.74448298
   0.81181814  0.55043967 -1.17511929  0.31622777  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837   1.60747884 -0.94333557 -0.4396799  -0.74139882 -0.88856813
   0.65536262  0.55043967  1.05905813  0.31622777  0.40514488  1.17275014
  -0.14638501  0.00639503]
 [-1.42488988 -0.38929059 -0.66471873  2.40387807 -0.15793614 -0.45631267
  -0.12691496 -0.04927746 -1.33470339  0.31622777  1.54113933 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309  0.02383412  0.86767388 -0.00524744  1.95711608  1.80102141
  -1.3785591  -1.24871172 -1.6538716   0.31622777  0.40514488  1.17275014
  -0.14638501  0.00639503]
 [-0.64420309  0.02383412  0.21756793  0.58716047  0.08517331 -0.06593418
  -0.28337048  0.10065183  0.58030582  0.31622777  1.54113933 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309  1.36648942  1.09985458  1.17956839  0.57139221 -0.28821333
   0.4989071   0.40051039  0.10155352 -3.16227766  0.40514488  1.17275014
  -0.14638501 -0.90809472]
 [ 0.91717049  0.02383412 -0.24679347  0.78462978 -0.76570977 -1.3208236
   1.90700675  2.34959106  1.21864223 -3.16227766  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837   0.91893766 -1.03620785 -1.22955712 -0.74139882 -0.12011398
  -0.12691496 -0.04927746 -1.33470339  0.31622777  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309  0.81565648  1.65708826 -0.36069218  3.14835239  1.65693626
  -1.53501462 -1.69849956 -0.85595109  0.31622777  0.40514488  1.17275014
  -0.14638501 -2.73707423]
 [ 1.69785729  0.98779177 -0.15392119 -1.62449573 -1.17899583  0.67235437
  -1.3785591  -1.09878243 -0.69636699  0.31622777 -0.73084958  1.17275014
  -0.14638501  2.74986429]
 [-1.42488988 -0.90569648  1.33203528  0.70564206  0.30397182  0.16805633
  -0.90919255 -0.79892387  1.37822633  0.31622777  0.40514488  1.17275014
  -0.14638501  0.00639503]
 [ 0.91717049 -1.31882119 -1.2219524  -0.00524744 -0.76570977 -0.91258233
   0.96827365  0.85029824  0.89947403  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.92088479]
 [ 0.1364837   3.77638356  0.86767388 -1.58500186  1.27640962  1.27270918
  -0.90919255 -0.79892387 -0.05803058  0.31622777 -0.73084958  1.17275014
  -0.14638501  1.83537454]
 [ 0.1364837   0.23039647 -1.03620785  0.31070345 -0.6198441  -1.24878102
   3.15865089  2.94930819 -0.05803058 -3.16227766  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309 -1.11225883 -0.29322961 -0.28170446 -0.49828937 -0.31222752
   0.02954055  0.10065183  0.89947403  0.31622777  1.54113933 -0.59254744
  -0.14638501  0.92088479]
 [ 0.91717049 -0.94012354 -0.24679347  0.78462978 -0.47397842 -0.52835525
   0.34245159  0.55043967  1.21864223  0.31622777  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837   0.23039647 -1.03620785 -0.16322288 -0.76570977 -0.91258233
   0.96827365  1.00022752 -0.05803058  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309  0.02383412  2.63224719  1.17956839  4.36389964  1.84904979
  -1.69147013 -2.14828741 -0.53678289  0.31622777  0.40514488  1.17275014
  -0.14638501  1.83537454]
 [ 0.1364837  -0.59585295 -0.85046329  0.15272801 -0.91157544 -0.93659652
   0.96827365  1.1501568  -0.69636699  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309  1.36648942  1.05341844  0.90311136  0.1337952   0.84045372
  -1.06564807 -0.94885315  0.10155352  0.31622777  0.40514488  1.17275014
  -0.14638501 -0.90809472]
 [-0.64420309 -0.45814471  0.21756793  0.54766661  1.27640962  1.08059564
  -0.90919255 -0.79892387 -0.05803058  0.31622777  0.40514488 -0.59254744
  -0.14638501  1.83537454]
 [-0.64420309 -0.9745506   1.98214124  0.46867889  1.32503151  0.38418406
  -0.439826   -0.79892387 -0.53678289 -3.16227766 -1.86684404  1.17275014
  -0.14638501  0.00639503]
 [-0.64420309  1.36648942  1.09985458  1.17956839 -0.20655803 -0.24018494
  -0.90919255 -0.94885315  0.10155352  0.31622777  0.40514488  1.17275014
  -0.14638501 -0.90809472]
 [ 0.1364837   0.02383412  0.40331249  0.78462978  0.86312355  0.33615568
  -0.75273703 -0.79892387 -1.6538716   0.31622777  0.40514488  1.17275014
  -0.14638501  0.00639503]
 [-0.64420309 -1.04340471 -0.75759101 -0.36069218 -0.74139882 -0.88856813
   0.4989071   0.55043967  1.05905813  0.31622777  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837   0.26482353  0.21756793 -0.00524744 -0.15793614 -0.55236944
   0.18599607  0.25058111 -0.69636699  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [ 0.1364837  -0.8024153  -1.12908013 -0.67664307 -0.93588638 -0.88856813
   2.06346227  1.89980322 -1.4942875   0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [-1.42488988 -1.93850825  0.21756793  0.07374029 -0.15793614 -0.3602559
   0.34245159  0.25058111  1.05905813  0.31622777 -0.73084958 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309 -1.24996707 -0.38610189  0.15272801 -0.44966748 -0.50434106
   0.34245159  0.40051039 -1.17511929  0.31622777  0.40514488 -0.59254744
  -0.14638501  0.00639503]
 [-0.64420309  0.02383412  1.09985458  1.9694456   0.57139221 -0.28821333
   0.02954055 -0.79892387  0.10155352 -3.16227766  1.54113933  1.17275014
  -0.14638501 -0.90809472]
 [ 0.1364837   1.60747884 -0.94333557 -0.4396799  -0.74139882 -0.88856813
   0.65536262  0.55043967  1.05905813  0.31622777 -0.73084958  1.17275014
  -0.14638501  0.00639503]
 [ 1.69785729  0.98779177 -0.15392119 -1.62449573 -1.42210528 -0.14412817
  -1.22210358 -1.09878243 -0.69636699  0.31622777 -0.73084958  1.17275014
  -0.14638501  2.74986429]
 [-1.42488988 -1.93850825  0.21756793  0.46867889 -0.15793614 -0.3602559
   0.34245159  0.25058111  1.05905813  0.31622777  0.40514488 -0.59254744

  -0.14638501  0.00639503]]

In [55]:
#Apply PCA
from sklearn.decomposition import PCA

In [56]:
#Create object of PCA class
pc=PCA(n_components=None,random_state=1)  
#n_components  inbuilt parameters ,here  pass no. of components means PC here total input 13 features
#input features

In [57]:
X_train_pc=pc.fit_transform(X_train,Y_train) #for training
X_test_pc=pc.transform(X_test) #for testing

In [58]:
explain_variance=pc.explained_variance_ratio_
print(explain_variance) #automatic arrange variance in descending order

[0.31843907 0.19719633 0.09645413 0.08757305 0.07304917 0.051052
 0.045261   0.03921772 0.0298119  0.02218366 0.01633985 0.01409031
 0.00756932 0.00176248]

In [59]:
#Create object of PCA class
pc1=PCA(n_components=10,random_state=1)  
#n_components  inbuilt parameters ,here  pass no. of components =2 means PC here total input 13 features
#input features

In [60]:
X_train_pc1=pc1.fit_transform(X_train) #for training
X_test_pc1=pc1.transform(X_test) #for testing

In [61]:
explain_variance=pc1.explained_variance_ratio_
print(explain_variance) #automatic arrange variance in descending order

[0.31843907 0.19719633 0.09645413 0.08757305 0.07304917 0.051052
 0.045261   0.03921772 0.0298119  0.02218366]

In [62]:
#BaseLine Model Linear regression because we want bto predict numerical contieous value
#use logistic regression algorithm
from sklearn.linear_model import LinearRegression

#create object of LinearRegression
lr= LinearRegression()

In [63]:
#Train the model then inbuilt function fit() of LogisticRegression class
lr.fit(X_train_pc1,Y_train)   #same as linearregression

LinearRegression()

In [64]:
#test the model
Y_pred=lr.predict(X_test_pc1)

In [65]:
lr.score(X_test_pc1,Y_test)

0.809133996663054